<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Vega.com -->
<mapper namespace="com.certicom.scpf.mapper.VendedorMapper">

<resultMap id="vendedorResult" type="com.certicom.scpf.domain.Vendedor">
	<id column="id_vendedor" property="id_vendedor"/>
	<result column="descripcion_vendedor" property="descripcion_vendedor"/> 
</resultMap>


</mapper>	
